## Importing libraries

In [2]:
import pandas as pd
import numpy as np

## Loading the data set

The data set is assigned to a Pandas data frame.

In [5]:
df = pd.read_csv("data/spect.csv", sep=',', index_col=False, decimal=',')

# Types of attributes and null values

Description of the dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OVERALL_DIAGNOSIS  267 non-null    int64
 1   F1                 267 non-null    int64
 2   F2                 267 non-null    int64
 3   F3                 267 non-null    int64
 4   F4                 267 non-null    int64
 5   F5                 267 non-null    int64
 6   F6                 267 non-null    int64
 7   F7                 267 non-null    int64
 8   F8                 267 non-null    int64
 9   F9                 267 non-null    int64
 10  F10                267 non-null    int64
 11  F11                267 non-null    int64
 12  F12                267 non-null    int64
 13  F13                267 non-null    int64
 14  F14                267 non-null    int64
 15  F15                267 non-null    int64
 16  F16                267 non-null    int64
 17  F17                267 non-null    int64
 18  F18                267 non-null    int64
 19  F19                267 non-null    int64
 20  F20                267 non-null    int64
 21  F21                267 non-null    int64
 22  F22                267 non-null    int64
dtypes: int64(23)
memory usage: 48.1 KB

Count of null values, for each attribute

In [7]:
df.isnull().sum()

OVERALL_DIAGNOSIS    0
F1                   0
F2                   0
F3                   0
F4                   0
F5                   0
F6                   0
F7                   0
F8                   0
F9                   0
F10                  0
F11                  0
F12                  0
F13                  0
F14                  0
F15                  0
F16                  0
F17                  0
F18                  0
F19                  0
F20                  0
F21                  0
F22                  0
dtype: int64

As you can see, we don't have any missing
values in the data sets.